/* Jason's Work */

/* Body Elements */
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
}

body, div {
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size: cover;
}

/* Headings/Headers Elements */
header, div, nav{
    border-radius: 10px; 
}
header {
    background-color: #333333;
    color: white;
    font-size: 200%;
    padding: 5px;
}

header, h1 , h3{
    text-align: center;
}

h3 {
    color: rgb(0, 0, 62);
    font-size: 18px;
}

/* Mainly Div & Nav Elements */
div, nav {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

div {
    background-color: rgb(255, 250, 245);
    border: 4px solid rgb(0, 49, 81);
}

div.right {
    background-position: right;
}

div.left{
    text-align: right;
}
nav {
    border: 2px double #333333;
    background-color: rgb(255, 190, 92);
    width: fit-content;
}

/* Links Elements */
a {
    color: white;       
    text-decoration: none;
}
a:hover {
    color:orangered;
    transition: .3s;
}

a:active {
    color: purple;
}

.planets:hover h2, .planets:hover p {
    color:aqua;
    transition: .3s;
}

.planets:active h2, .planets:active p {
    color: darkblue;
}