/* Jason's Work */

* { /* Added border box for easier CSS layout */
    box-sizing: border-box;
}
/* Body Elements */
body{
    font-family: Arial, sans-serif;
    margin: 0;
}

body, div, article {
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size: cover;
}


/* Headings/Headers Elements */
header {
    background-color: #333333;
    color: white;
    font-size: 200%;
    padding: 5px;
    width: 100%;
}

header, h1 , h3{
    text-align: center;
}

h3 {
    color: rgb(0, 0, 62);
    font-size: 18px;
}

/* Mainly Div & Nav Elements */
div, nav {
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2em;
    border-radius: 10px; 
}

div {
    background-color: rgb(255, 250, 245);
    border: 4px solid rgb(0, 49, 81);
}

div.right {
    background-position: right;
}

div.left{
    text-align: right;
}
nav.bottom {
    border: 2px double #333333;
    background-color: rgb(255, 190, 92);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Articles Related Elements*/
article {
    border: 4px solid rgb(0, 49, 81);
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2em;
    border-radius: 10px; 
    text-align: center;
    background-image: url(https://papers.co/wallpaper/papers.co-ng79-star-sky-night-space-dark-blue-36-3840x2400-4k-wallpaper.jpg)
}

article h2, article p {
    color: rgb(249, 218, 142);
}

article p {
    text-align: left;
}

/* Videos */
iframe {
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
    margin-bottom: 0;
}

/* Links Elements */
a {
    color: white;       
    text-decoration: none;
}
a:hover {
    color:orangered;
    transition: .3s;
}

a:active {
    color: purple;
}

.planets:hover h2, .planets:hover p {
    color:aqua;
    transition: .3s;
}

.planets:active h2, .planets:active p {
    color: darkblue;
}

/* Nav List Format */
.navigate {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
}

.navigate li a {
    text-align: center;
    padding-left: 3px;
}