body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header, div{
    border-radius: 10px;    /* For rounded corners */
}
header {
    background-color: #333333;
    color: white;
    font-size: 200%;
    text-align: center;
    padding: 1em;           /* Add space above and below the title */
}

h1 {
    text-align: center;
}

div {
    background-color: white;
    border: 2px solid #cccccc;
    padding: 1em;           /* Add space around each div */
}

a {
    color: #333333;       
    text-decoration: none;  /* Remove links' underline */
}