/* Jason's Work*/

/* Main Body */

/*Planet Headers CSS disigns*/
body {
    background-image: url(https://i0.wp.com/astronomicca.com/wp-content/uploads/2022/01/Cassiopeia.jpg?resize=1200%2C1200&ssl=1);
}

/* Headings & Headers*/
h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%;
    text-decoration: underline;
}

h3 {
    color: rebeccapurple;
    font-size: 18px;
    text-align: center;
}

/* Images */

img {
    border-radius: 10px;
}

.gallery,
img {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}

.gallery img {
    flex: 1;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 33%;
    border-radius: 20px;
}

/* Links */
a {
    color: darkblue;
    text-decoration: underline;
}

/* Basic flex structure */
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.flex > * {
    flex: 1;
    margin: auto;
    align-items: center;
}

/* Mobile phones */
@media only screen and (max-width: 650px) {
    div {
        padding: 0.5em;
    }

    .gallery img, .flex {
        width: 100%;
        flex-direction: column;
    }
}