/* Jason's Work */
h2 {
    color: rgb(31, 165, 249);
    font-size: 20px;
    text-align: center;
}

h3 {
    color: green;
    font-size: 18px;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: darkblue;
    text-decoration: underline;
}